html, body, p, iframe, h1, h2, h3, a.h2 {
	background-color: white;
	color: black;
	line-height: 1.5;
	margin:0;
	padding:0;
	border:0;
	font-size: 12pt;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #4B4F54;
	font-weight: 300;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

h2 {
	font-size: 20pt;
	margin-left: 25px;
	padding: 22px 0 0 0;
	line-height: 0.4em;
	text-transform: uppercase;
}

.withline {
	padding: 0px;
	margin: 6px 0 0 25px;
}

.banner {
	height: 70px;
	border: none;
	width: 100%;
	margin: 0px;
	position: relative;
	border: none;
}

iframe { 
	display: block; 
	border: none; 
	height: calc(100vh - 70px); 
	width: 100%; 
	overflow: hidden;
	padding: 0px;
}

a, a:visited, a:active {
	color: orange;
	text-decoration: none;
}

a:hover {
	color: orange;
	text-decoration: underling;
}

table {
	border: none;
	float: right;
	padding: 0px;
	margin: 3px 0 0 0;
	border-spacing: 4px;
	padding-right: 4px;
}

tr, td {
	padding: 0px;
	margin: 0px;
	line-height: 0px;
}

.ico {
	height: 20px;
	width: 20px;
}